@use '/src/styles/animation.module.scss';
@use '/src/styles/color.module.scss';
@use '/src/styles/font.module.scss';
@use '/src/styles/variables.module.scss';

$children: (5, 4, 3, 2, 1, 0);
$quick-button-item-size: variables.$PX60;
$quick-button-icon-size: variables.$PX26;
$quick-button-icon-size-selected: variables.$PX30;
$tasks-selected-color: color.$indicator-1;
$inbox-selected-color: color.$indicator-2;
$shadow-button-color: color.$primary-2;
$animation-time: animation.$transition-fast;

.container {
  position: absolute;
  display: flex;
  z-index: 98;
  right: 0;
  bottom: variables.$PX4;
  gap: variables.$PX26;
  animation-duration: $animation-time;

  .quickButton {
    position: absolute;
    right: variables.$PX4;
    bottom: 0;
    transition: $animation-time;
    display: flex;
    flex-direction: column;
    gap: variables.$PX12;
    align-items: center;

    .label {
      @include font.text-bold-16px;
      @include variables.noselect;

      color: #f2f2f2;
    }

    .button {
      transition: $animation-time;
      background-color: #f2f2f2;
      border-radius: calc($quick-button-item-size / 2);
      height: $quick-button-item-size;
      width: $quick-button-item-size;

      .icon {
        transition: $animation-time;
        font-size: $quick-button-icon-size;
      }
    }
  }

  &.hide {
    visibility: hidden;
    animation-name: fade-out;
  }

  &.show {
    animation-name: fade-in;

    @each $child in $children {
      .index#{$child} {
        right: calc(($child + 1) * variables.$quick-button-space);
      }
    }

    .quickButton {
      &.selected {
        right: variables.$PX4;
        bottom: -(variables.$PX4);

        .button {
          border-radius: calc(variables.$quick-button-size / 2);
          height: variables.$quick-button-size;
          width: variables.$quick-button-size;

          &.inbox {
            background-color: $inbox-selected-color;
          }

          &.tasks {
            background-color: $tasks-selected-color;
          }

          .icon {
            transition: $animation-time;
            font-size: $quick-button-icon-size-selected;
          }
        }
      }
    }
  }
}
