@use '/src/styles/animation.module.scss';
@use '/src/styles/color.module.scss';
@use '/src/styles/variables.module.scss';

$shadow-button-color: color.$primary-2;

.container {
  position: absolute;
  z-index: 99;
  right: 0;
  bottom: 0;
  background-color: color.$primary-1;
  border-radius: variables.$quick-button-size / 2;
  height: variables.$quick-button-size;
  width: variables.$quick-button-size;
  transition: animation.$transition-fast;

  &.shadow {
    z-index: 98;
    right: variables.$PX19;
    background-color: $shadow-button-color;

    > * {
      height: 100%;
      width: 100%;
    }
  }

  .icon {
    font-size: variables.$PX52;
  }
}
